.card-img-top {
  width: 16rem;
  height: 16rem;
}
.card {
  width: 18rem;
  height: 30rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
